body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #000000;
    margin: 0;
    padding: 0;
}

h1 {
    color: 255, 255, 255 ;
}

.container{
width: 100%;
  min-height: 100vh;
  padding: 5%;
  background-image: linear-gradient(rgba(0, 8, 51, 0.9),rgba(0,8,51,0.9)), url(download.png);
  background-position: center;
  background-size: cover;
}
